table.table.table-condensed
    thead
        tr
            td
            th.text-right(ng-repeat='type in existingPointTypes()') {{pointsText[type]}}
    tbody
        tr
            th Available
            td.text-right(ng-repeat='type in existingPointTypes()') {{availablePoints(type)}}
        tr
            th Used
            td.text-right(ng-repeat='type in existingPointTypes()', ng-class='{"text-danger": availablePoints(type) < usedPoints(type)}') {{usedPoints(type)}}
