h2 {{char.name || text.ui.unnamedCharacter }}
table.table.table-condensed(ng-init="types =['specialAttributes', 'attributes', 'skills', 'skillGroups', 'karma']")
    thead
        tr
            td
            th.text-right(ng-repeat='type in types') {{text.creation.priority.points[type]}}
            th.text-right {{text.creation.priority.points.resources}}
    tbody
        tr
            th Available
            td.text-right(ng-repeat='type in types') {{creation.points[type].available}}
            td.text-right {{creation.points.resources.available | currency:'¥' }}
        tr
            th Used
            td.text-right(ng-repeat='type in types', ng-class="{ info: 'creation.points[type].used < creation.points[type].available' }") {{creation.points[type].used}}
            td.text-right {{creation.points.resources.used | currency:'¥' }}
tabset
    tab(heading='{{text.ui.tab.characterGeneration}}')
        h3
        form.row
            .form-group.col-lg-3
                label(for='char-name') {{text.ui.name}}
                input.form-control(id='char-name', ng-model='char.name', type='text', placeholder='{{text.ui.namePlaceholder}}')
            .form-group.col-lg-3.col-lg-offset-1
                label(for='char-metatype') {{text.ui.metatype}}
                select.form-control(id='char-metatype', ng-model='char.metatype.name', ng-options='name as text.metatype[name] for name in core.metatypes', ng-change='creation.setMetatype(char.metatype.name)')

        h3 {{text.creation.priority.priorities}}
        priority-table(creation='creation')
    tab(heading='{{text.ui.tab.attributes}}')
        attribute-table(modifier='creation', char='char')
    tab(heading='{{magicOrResonanceTabName()}}')
        h3
        form.row
            .form-group.col-lg-3(ng-class='{"has-error": !(validateMagicOrResonanceType().length==0)}')
                label(for='magic-type') {{text.ui.magicOrResonanceType}}
                select.form-control(id='magic-type', ng-model='magicOrResonanceType',
                    ng-change='updateMagicOrResonanceType(magicOrResonanceType)',
                    ng-options='type as text.term.magicOrResonanceType[type] for type in priority.magicOrResonanceTypes',
                    tooltip='{{validateMagicOrResonanceType().join("\n")}}')
                    option(value='') -
            .form-group.col-lg-2(ng-repeat="name in ['mag', 'res']", ng-show='char.attributes[name]')
                label(for='attribute-value-{{name}}-2') {{text.attributes[name]}}
                attribute-editor(id='attribute-value-{{name}}-2', char='char', modifier='creation', attribute='{{name}}')
    tab(heading='Debug')
        table.table(ng-controller="DebugController")
            tbody
                tr
                    th creation state
                    td {{creation.exportState()}}
                tr
                    th dump
                    td
                        button(class="btn btn-default btn-xs", ng-click="dump(creation)") creation
                        button(class="btn btn-default btn-xs", ng-click="dump(creation.char)") character
                        button(class="btn btn-default btn-xs", ng-click="dumpScope()") scope
