h2 {{char.name || text.ui.unnamedCharacter }}
tabset
    tab(heading='{{text.ui.tab.characterGeneration}}')
        h3
        form.row
            .form-group.col-lg-4.col-sm-6
                label(for='char-name') {{text.ui.name}}
                input.form-control(id='char-name', ng-model='char.name', type='text', placeholder='{{text.ui.namePlaceholder}}')
            .form-group.col-lg-4.col-lg-offset-1.col-sm-6
                label(for='char-metatype') {{text.ui.metatype}}
                select.form-control(id='char-metatype', ng-model='char.metatype.name', ng-options='name as text.metatype[name] for name in core.metatypes', ng-change='creation.setMetatype(char.metatype.name)')

        h3 {{text.creation.priority.priorities}}
        priority-table(creation='creation')
        points-table(creation='creation')
    tab(heading='{{text.ui.tab.attributes}}')
        .row
            attribute-table(modifier='creation', char='char')
            points-table.col-lg-4.col-sm-4(creation='creation', points='attributes,specialAttributes')
    tab(heading='{{magicOrResonanceTabName()}}')
        h3
        form.row
            .form-group.col-lg-3.col-sm-6(ng-class='{"has-error": !(validateMagicOrResonanceType().length==0)}')
                label(for='magic-type') {{text.ui.magicOrResonanceType}}
                select.form-control(id='magic-type', ng-model='magicOrResonanceType',
                    ng-change='updateMagicOrResonanceType(magicOrResonanceType)',
                    ng-options='type as text.term.magicOrResonanceType[type] for type in priority.magicOrResonanceTypes',
                    tooltip='{{validateMagicOrResonanceType().join("\n")}}')
                    option(value='') -
            .col-lg-2.col-sm-3.col-6
                .form-group(ng-repeat="name in ['mag', 'res']", ng-show='char.attributes[name]')
                    label(for='attribute-value-{{name}}-2') {{text.attributes[name]}}
                    attribute-editor(id='attribute-value-{{name}}-2', char='char', modifier='creation', attribute='{{name}}')
            points-table.col-lg-3.col-sm-3.col-6.col-offset-4(creation='creation', points='specialAttributes')
        .row(ng-show='char.canUseAdeptPowers()')
            h3.row {{text.term.adeptPowers}} TODO
            form.row
                .col-lg-2.col-sm-3.col-6
                    .form-group
                        label(for='attribute-value-pp-2') {{text.attributes.pp}}
                        attribute-editor(id='attribute-value-pp-2', char='char', modifier='creation', attribute='pp')
    tab(heading='Debug')
        table.table(ng-controller="DebugController")
            tbody
                tr
                    th creation state
                    td {{creation.exportState()}}
                tr
                    th dump
                    td
                        button(class="btn btn-default btn-sm", ng-click="dump(creation)") creation
                        button(class="btn btn-default btn-sm", ng-click="dump(creation.char)") character
                        button(class="btn btn-default btn-sm", ng-click="dumpScope()") scope
