!!! 5
html(lang='en')
head
    title Shadowrun 5 Test
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    != css('lib/css/bootstrap')
    != css('lib/css/app')
body(ng-controller='MainController')
    .navbar.navbar-static-top
        .container
            a.navbar-brand(ng-href='/') SRGen
            ul.nav.navbar-nav
                li(ng-class='getNavClass("/character")')
                    a(ng-href='/character') Character
                li {{$location}}

    .container
        ng-view

        != js('lib/js/angular')
        != js('lib/js/ui-bootstrap-tpls-0.4.0')
        != js('client/app')