!!! 5
html(lang='en')
head
    title Shadowrun 5 Test
    meta(charset='UTF-8')
    != css('lib/css/bootstrap')
body(ng-controller='ShadowrunController')
    .navbar.navbar-static-top
        .navbar-inner
            .container
                .brand SRGen

    .container
        h1 {{char.name || text.ui.unnamedCharacter }}
        tabset
            tab(heading='General')
                form
                    label {{text.ui.name}}
                    input(ng-model='char.name', type='text', placeholder='{{text.ui.namePlaceholder}}')
                    label {{text.ui.metatype}}
                    select(ng-model='char.metatype.name', ng-options='name as text.metatype[name] for name in core.metatypes', ng-change='char.setMetatype(char.metatype.name)')
                table.table
                    thead
                        tr
                            td
                            th Value
                            th Limits
                            th Debug
                    tbody
                        tr(ng-repeat='name in core.attributes.physicalMental')
                            th {{text.attributes[name]}}
                            td {{char.attributes[name].value.value}}
                            td {{char.attributes[name].min.value}}/{{char.attributes[name].max.value}}
                        tr
                            th {{text.attributes['ess']}}
                            td
                            td {{char.attributes['ess'].max.value}}
                        tr
                            th {{text.attributes['edg']}}
                            td {{char.attributes['edg'].value.value}}
                            td {{char.attributes['edg'].min.value}}/{{char.attributes['edg'].max.value}}
            tab(heading='Magic', disabled='"true"')
            tab(heading='Debug')
                table.table
                    tbody
                        tr
                            th creation
                            td {{creation}}
                        tr
                            th char
                            td {{char}}

        != js('lib/js/angular')
        != js('lib/js/ui-bootstrap-tpls-0.4.0')
        != js('client/app')
