!!! 5
html(lang='en')
head
    title Shadowrun 5 Test
    meta(charset='UTF-8')
    != css('lib/css/bootstrap')
    != css('lib/css/app')
body
    .navbar.navbar-static-top
        .navbar-inner
            .container
                .brand SRGen

    .container.ng-cloak(ng-cloak, ng-controller='PriorityCreationController')
        h1 {{char.name || text.ui.unnamedCharacter }}
        tabset
            tab(heading='Priorities')
                h2 Available Points
                table.table(ng-init="types =['specialAttributes', 'attributes', 'skills', 'skillGroups', 'karma']")
                    thead
                        tr
                            td
                            th Special Attributes
                            th Attributes
                            th Skills
                            th Skill Groups
                            th Karma
                    tbody
                        tr
                            th Available
                            td(ng-repeat='type in types') {{creation.points[type].available}}
                        tr
                            th Used
                            td(ng-repeat='type in types', ng-class="{ info: 'creation.points[type].used < creation.points[type].available' }") {{creation.points[type].used}}
                h2 Priorities
                priority-table
            tab(heading='General')
                form
                    label {{text.ui.name}}
                    input(ng-model='char.name', type='text', placeholder='{{text.ui.namePlaceholder}}')
                    label {{text.ui.metatype}}
                    select(ng-model='char.metatype.name', ng-options='name as text.metatype[name] for name in core.metatypes', ng-change='creation.setMetatype(char.metatype.name)')
                table.table
                    thead
                        tr
                            td
                            th Value
                            th Limits
                    tbody
                        tr(ng-repeat='name in core.attributes.physicalMental')
                            th {{text.attributes[name]}}
                            td {{char.attributes[name].value.value}}
                            td {{char.attributes[name].min.value}}/{{char.attributes[name].max.value}}
                        tr
                            th {{text.attributes['ess']}}
                            td
                            td {{char.attributes['ess'].max.value}}
                        tr
                            th {{text.attributes['edg']}}
                            td {{char.attributes['edg'].value.value}}
                            td {{char.attributes['edg'].min.value}}/{{char.attributes['edg'].max.value}}
            tab(heading='Debug')
                table.table
                    tbody
                        tr
                            th creation
                            td {{creation}}
                        tr
                            th creation.points
                            td {{creation.points}}
                        tr
                            th char
                            td {{char}}

        != js('lib/js/angular')
        != js('lib/js/ui-bootstrap-tpls-0.4.0')
        != js('client/app')