table.table.table-striped.table-hover.attribute-table
    thead
        tr
            td.col-lg-4
            th.col-lg-4.text-center Value
            th.col-lg-4.text-center Limits
    tbody
        tr(ng-repeat='name in core.attributes.physicalMental')
            th {{text.attributes[name]}}
            td.text-center.no-select
                attribute-editor(char='char', modifier='modifier', attribute='{{name}}')
            td.text-center {{char.attributes[name].min.value}}/{{char.attributes[name].max.value}}
        tr(ng-repeat="name in ['mag','res']")
            th {{text.attributes[name]}}
            td.text-center {{char.attributes[name].value.value}}
            td.text-center {{char.attributes[name].max.value}}
        tr
            th {{text.attributes['ess']}}
            td.text-center
            td.text-center {{char.attributes['ess'].max.value}}
        tr
            th {{text.attributes['edg']}}
            td.text-center {{char.attributes['edg'].value.value}}
            td.text-center {{char.attributes['edg'].min.value}}/{{char.attributes['edg'].max.value}}